
/*BANNER STYLE 3
================================================================*/
.cbp-spmenu h2 {
	/*font-family: 'Cookie', cursive;
	font-family: 'Montez', cursive;*/
	font-family: 'Grand Hotel', cursive;
	/*font-family: 'Clicker Script', cursive;
	font-family: 'Sacramento', cursive;*/
	
}	
.home_bg3{
	background: url(../images/slider/parallax_2.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	background-position: 100% top;
	overflow: hidden;
	height: 900px;
	margin-top: -110px;
}
.ban_pat3{
	background: url(../images/banner_patterns/3.png) 100% 0 repeat fixed;
	height: 900px;
}
.content3_heading{
	width:auto;
	font-size:75px;
	line-height:50px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	background:rgba(0,0,0,0.5);
	padding:40px 20px 20px 20px;
	text-align:center;
	margin-top:350px;
	margin-bottom:80px;
	/*text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);*/

}
.content3_heading span{
	font-size:30px;
	letter-spacing:4px;
	font-weight:100;
	/*text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);*/
}
/* Homepage Arrow animation */
/*.arrow-link3 i {
	padding: 18px;
	font-size: 50px;
	text-align:center;
	background: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}*/
/*.arrow-link3{
	text-align:center;
	-webkit-animation-name: hop;
	-webkit-animation-duration:.5s;
	 -webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name: hop;
	-moz-animation-duration:.5s;
	 -moz-animation-direction:alternate;
	-moz-animation-timing-function:linear;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	position:relative;
	top:105px;
	right:14px;
}*/
@-webkit-keyframes hop {
       from{ -webkit-transform: translate(0px,0px); }
         to { -webkit-transform: translate(0px,-10px); }  
      }

@-moz-keyframes hop {
       from{ -moz-transform: translate(0px,0px); }
         to { -moz-transform: translate(0px,-10px); }  
      }
/* // Homepage Arrow animation */	 


/* Portrait tablet to landscape and desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	/*.container{ background-color:#00FFFF;}*/
	
	
	/*BANNER STYLE 3*/
	.content3_heading{margin-top:350px;}
	.content3_heading{ font-size:50px; line-height:55px; letter-spacing:2px; padding:40px 20px 20px 20px; }
	.content3_heading span{ font-size:22px; }
	.arrow-link3{top:75px;}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	/*.container{ background-color:#FFFF00}*/
	
	
	/*BANNER STYLE 3*/
	.content3_heading{margin-top:350px;}
	.content3_heading{ font-size:40px; line-height:55px; letter-spacing:2px; padding:20px 20px 10px 20px; } 
	.content3_heading span{ font-size:16px; }
	
}

/* Landscape phone to portrait tablet*/
@media (max-width: 767px) { 
	/*.container{ background-color: #00FF99}*/


	
	/*BANNER STYLE 3*/
	.home_bg3 { height:730px; }
	.content3_heading{margin-top:350px;}
	.content3_heading{ font-size:36px; line-height:35px; letter-spacing:2px; padding:20px 20px 10px 20px; }
	.content3_heading span{ font-size:16px; line-height:18px!important; }
	

	
}	

@media (max-width: 400px) {
	/*.container{ background-color: #FFCCFF}*/


	

	
	/*BANNER STYLE 3*/
	.home_bg3 { height:650px; }
	.content3_heading{margin-top:260px;}
	.content3_heading{ font-size:23px; line-height:30px; letter-spacing:2px; padding:20px 20px 10px 20px; }
	.content3_heading span{ font-size:16px; }
	.ban_pat3{height: 720px;}
	.arrow-link3{ top:90px; right:0px;}
	
	
}	

@media screen and (-webkit-min-device-pixel-ratio:0) {
::i-block-chrome,.content3_heading span { font-weight:300;}
}

@media all and (-webkit-min-device-pixel-ratio: 2.0) {
.home_bg3{ background: url(../images/slider/parallax_2.jpg); }
.ban_pat3{ background: url(../images/banner_patterns/3.png);}
}



